/*ESTRUTURA*/

header video {
    height: 150px;
}

body {
    color: black;
    background: white;
    font-family: "Outfit", sans-serif;
    margin-right: 20%;
    margin-left: 10%;
    max-width: 1000px;
    position: absolute;
}



/*CONFIGS BÁSICAS*/

h1 {
    font-size: 25px;
    font-weight: 400;
    font-weight: bolder;
    margin: 50px 0 20px 70px;
    text-align: left;
}

h2 {
    font-size: 20px;
    font-weight: 200;
    font-weight: bolder;
    text-align: left;
}

p {
    font-size: 15px;
    line-height: 1.5;
}

img {
    height: 150px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.paragrafo:hover {
    color: #a7bad4;
}


/*BARRA DE NAVEGAÇÃO*/

.navbar {

    display: flex;
    align-items: center;
    font-weight: bolder;
    text-align: center;


    padding-top: 40px;
    margin: 0 0 30px 20px;
}

.navbar a {
    margin-left: 5%;
}

.navbar a:hover {
    color: #a7bad4;
    transform: scale(1.2);
}

.line {
    align-items: center;
    background-color: white;
    border-top: solid 2px black;
    width: 960px;
    margin-left: 5%;
}

.lyrics {
    margin: 60px 0 0 0;
    line-height: 25px;
}




/*FACE IDS - MEET SKZ*/

.meetskz {
    padding-top: 30px;
}

.faceids {
    display: flex;
    overflow: hidden;
    gap: 10px;
    padding-top: 20px;
    margin-left: 3%;
    justify-content: center;
    cursor: pointer;
}

.info {
    margin: 30px 50px 70px 70px;
    text-align: justify;
}



/*CONHEÇA STRAY KIDS - BLOCO AZUL*/

.blocoazul {
    background: #b0c7e34e;
    width: 85%;
    height: 30%;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    margin: 5% 20% 0 5%;
}

.textointro {
    margin: 5% 5% 5% 10%;
    width: 70%;
    height: 20%;
    text-align: justify;
}

.videointro img {
    margin: 10% 10% 10% 0;
    height: 200px;
}

.videointro {
    padding-top: 40px;
}

.videointro img:hover {
    opacity: 1.0;
    border: 2px solid #3b5590;
}

.videointro:hover {
    transform: scale(1.2);
}





/*CLASSIC MUSIC VIDEOS*/

.classicmusics {
    display: flex;
    overflow-y: hidden;
    gap: 20px;
    padding-top: 20px;

}

.classicmusics img {
    opacity: 0.7;
    height: 100px;
    margin-left: 10px;
    margin-left: 10px;
}


.classic1:hover img {
    opacity: 1.0;
    transform: scale(1.2);
    border: solid 3px #a1b8d8;
}




/*HARSH MUSIC VIDEOS*/

.harshmusics {
    display: flex;
    overflow-y: hidden;
    gap: 10px;
    padding-top: 20px;

}

.harshmusics img {
    opacity: 0.5;
    height: 100px;
    margin-left: 10px;
}

.harshmusics img:hover {
    opacity: 1.0;
    transform: scale(1.2);
    border: solid 3px #374558
}



/*SOFT MUSIC VIDEOS*/

.softmusics {
    display: flex;
    overflow-y: hidden;
    gap: 10px;
    padding-top: 20px;

}

.softmusics img {
    opacity: 0.5;
    height: 100px;
    margin-left: 10px;
}

.softmusics img:hover {
    opacity: 1.0;
    transform: scale(1.2);
    border: solid 3px #b0d1ff
}


/*ALBUM TRAILERS*/

.albunslink {
    display: flex;
    overflow-y: hidden;
    gap: 20px;
    padding-top: 20px;

}

.albunslink img {
    opacity: 0.7;
    height: 100px;
    margin-left: 10px;
}


.albuns1:hover img {
    opacity: 1.0;
    transform: scale(1.2);
    border: solid 3px #a7bad4;
}







/*WEBKIT UNIVERSAL SCROLLBARS*/

*::-webkit-scrollbar-track {
    background-color: #b0c7e34e;
    border-radius: 40px;
}

*::-webkit-scrollbar-thumb {
    background-color: #a7bad4ad;
    border-radius: 40px;
    size: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #a7bad4;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}









@media (max-width: 600px) {
    h1 {
        font-size: 30px;
        margin-top: 80px;

    }
    
    h2 {
        font-size: 25px;
    }

}





/*CLASSICS*/
/*SOFT MUSIC VIDEOS*/
/*DARK MUSIC VIDEOS*/


/*acho legal que o projeto tenha: 
1. uma barra de pesquisa para músicas
5. um botão de mudança do tema do site


CONCLUIDOS
3. título animado
4. uma barra home
2. um slider de música para música
*/